:root {
  --font-primary: 'Roboto Slab', serif;
  --font-secondary: 'Roboto', sans-serif;
  --color-white: #ffffff;
  --color-offwhite: #f7f7f7;
  --color-black: #111111;
  --color-blue: #5883ce;
  --color-github: #444444;
  --box-shadow: rgb(204, 204, 204) 0px 1px 2px;
}

html,
body,
div#root {
  height: 100%;

  display: flex;
  flex-direction: column;
}

body {
  /* box */
  background-color: var(--color-offwhite);

  /* text */
  color: var(--color-black);
  font-family: var(--font-primary);
  font-size: 1em;
}

body > * {
  flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

/*
  navbar
*/

.navbar {
  /* display */
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* box */
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  height: 55px;
}

.navbar__link {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

/*
  screens
*/
.screens {
  display: flex;
  justify-content: center;
}

/*
  filterbar
*/

.filterbar {
  /* display */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* box */
  margin: 0 0 1rem;
}
.filterbar > * {
  margin: 0;
}

/*
  login form
*/

.loginform {
  /* display */
  align-self: center;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  /* box */
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  height: 100%;
  width: 350px;
  margin: 7rem 0 0;
  padding: 1rem;
}

.loginform__heading {
  display: flex;
  margin: 0;
  color: var(--color-blue);
}

.loginform__github {
  /* display */
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* box */
  background-color: var(--color-github);
  border: 1px solid var(--color-github);
  border-radius: 4px;
  cursor: pointer;
  width: 225px;
  margin: 3rem 0;
  padding: 0.7rem 1rem;

  /* text */
  color: var(--color-white);
  font-family: var(--font-secondary);
}

.loginform__github:hover {
  text-decoration: underline;
  background-color: #333333;
}

.loginform__github:active {
  background-color: var(--color-black);
}

/*
  repo-list
*/

.repo-list {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  height: 100%;
  width: 100%;
  margin: 3rem 0 0;
  padding: 1rem;
}

.repo-list__repos {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
